/* Provide sufficient contrast against white background */
/* grid para pantalla al 100%
html, body{
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

#root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4% 96%;
    grid-template-rows: 30px auto;
    overflow: auto;
}

header *{
    padding: 0 5px !important;
}

*/




a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
