.background {
    background-image: url("../images/background.jpg");
}

.bigicon {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    max-height: 100px;
    width: auto;
}

.box {
    background-color: rgba(255, 255, 255, .40);
    backdrop-filter: blur(5px);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
}

.icon-description {
    display: grid;
    grid-template-columns: 100px auto;
}

.icon-description > img {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    max-height: 100px;
    width: auto;
}

.icon-description > p {
    padding: 0 15px;
    text-align: justify;
}

.navgame {
    background-color: rgba(255, 255, 255, .60);
    border: 1px solid #ddd;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 5px 5px #888; 
    backdrop-filter: blur(5px);
    margin-bottom: 30px;
    height: 85px;
    padding: 15px;
}