
html, body, #root {
    height: 100%;
}

#root {
    display: grid;
    grid-template-rows: 30px auto;
}

p-0 {
    padding: 0px;
}

m-0 {
    margin: 0px;
}


.background {
    height: 100%;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-image: url("../images/background.jpg");*/
}

.card {
    margin: 20px;
    min-height: 570px;
}

.bigicon {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    max-height: 100px;
    width: auto;
}

.box {
    background-color: rgba(255, 255, 255, .40);
    backdrop-filter: blur(5px);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
}

.box p span{
    float: right;
}

.icon-description {
    display: grid;
    grid-template-columns: 100px auto;
}

    .icon-description > img {
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        display: inline-block;
        max-height: 100px;
        width: auto;
    }

    .icon-description > p {
        padding: 0 15px;
        text-align: justify;
    }

nav {
    max-height: 30px;
}

.navgame {
    background-color: rgba(255, 255, 255, .60);
    border: 1px solid #ddd;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 5px 5px #888;
    /*filter: blur(1px);*/
    margin-bottom: 30px;
    height: 60px;
    padding: 5px;
}

    .navgame p {
        margin-bottom: 0;
    }

.navsystem {
    position: fixed;
    left: 25%;
    bottom: 0px;
    height: 80px;
    background-color: rgba(181, 181, 181, 0.15);
    border: 1px solid #ddd;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px -3px 3px #888;
}

.sub-nav {
    display: none;
    bottom: 80px;
    height: 90px;
    right: 25%;
    left: 25%;
    border-bottom: 0;
}
    .sub-nav a {
        height: 60px;
        width: 60px;
        margin: auto;
        text-align: center;
        background-color: white;
    }

.system {
    height: 60px;
    width: 60px;
    margin: auto;
    text-align: center;
    background-color: white;
}

    .system img {
        max-width: 100%;
        max-height: 100%;
    }

.buildOrders-container, .computers-container {
    border: 1px solid #b3b7bc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    transition: all 0.5s;
}

    .computers-container.desk {
        border: 2px solid #d7d7d7;
    }

    .computers-container:hover {
        cursor: pointer;
        -webkit-box-shadow: 0 4px 6px 5px #777;
        -moz-box-shadow: 0 4px 6px 5px #777;
        box-shadow: 0 4px 6px 5px #777;
    }

    .principal-pc {
        background-image: url("../images/pc_principal.svg");
    }

.portatil-pc {
    background-image: url("../images/pc.svg");
}

.notreaded {
    color: red;
}

.readed {
    color: rgb(33, 37, 41);
}

.principal-pc, .portatil-pc {
    margin: auto;
    max-width: 50%;
    height: 65px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.bs-popover-bottom {
    max-width: 330px;
}

    .bs-popover-bottom p span {
        float: right;
    }

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}


@media (max-width: 1200px) {
    body {
        font-size: 14px;
    }
}
