@keyframes open-submenu {
    0% {
        bottom: 0px;
        opacity: 0;
    }

    100% {
        bottom: 80px;
        opacity: 1;
    }
}

@keyframes close-submenu {
    0% {
        bottom: 80px;
        opacity: 1;
    }

    100% {
        bottom: 0px;
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        margin-top: 100px;
    }
    100% {
        opacity: 1;
        margin-top: 10px;
    }
}

@keyframes boxIn-left{
    0% {
        position: absolute;
        width: 95%;
        left: 75vw;
        opacity: 0;
    }

    100% {
        position: absolute;
        width: 95%;
        left: 1vw;
        opacity: 1;
    }
}
@keyframes boxOut-left {
    0% {
        position: absolute;
        width: 95%;
        right: 0vw;
        opacity: 1;
    }

    100% {
        position: absolute;
        width: 95%;
        right: 75vw;
        opacity: 0;
    }
}
@keyframes boxIn-right {
    0% {
        position: absolute;
        width: 95%;
        right: 75vw;
        opacity: 0;
    }

    100% {
        position: absolute;
        width: 95%;
        right: 0vw;
        opacity: 1;
    }
}

@keyframes boxOut-right {
    0% {
        position: absolute;
        width: 95%;
        left: 0vw;
        opacity: 1;
    }

    100% {
        position: absolute;
        width: 95%;
        left: 75vw;
        opacity: 0;
    }
}

@keyframes spin{
    0%{
        background: transparent;
        transform: rotate(720deg);
    }
}



html, body, #root {
    height: 100%;
    overflow: hidden;
}

#root {
    display: grid;
    grid-template-rows: 30px auto;
}

.p-0 {
    padding: 0px;
}

.m-0 {
    margin: 0px;
}

.b-button {
    border-bottom: 1px solid gainsboro;
}

.box .table thead th {
    vertical-align: bottom;
    border-bottom: 3px solid #abadb1;
}

.box .table th, .box .table td {
    padding: 0.6rem;
    border-top: 1px solid #b3b7bc;
}

.btn-custom {
    font-size: 20px;
    font-weight: 500;
    background-color: #404040;
    /*transition: all 500ms;*/
    transition: all .08s linear;
}

    .btn-custom:hover {
        background-color: #555;
        border-color: #555;
        box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
    }

    .btn-custom.disabled:hover {
        box-shadow: initial;
        background-color: #6c757d;
        border-color: #6c757d;
    }

.btn-custom-large {
    width: 300px;
}


    .background {
        height: 100%;
        background-image: url("../images/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        /*background-image: url("../images/background.jpg");*/
    }

.card {
    margin: 20px;
    min-height: 570px;
}

.bigicon {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    max-height: 100px;
    width: auto;
}


/*******************/
/* PANEL BUILDS    */
/*******************/

.box {
    background-color: rgba(255, 255, 255, .40);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
}

    .box.box-in-left {
        animation: boxIn-left;
        animation-duration: 1000ms;
    }
    .box.box-out-left {
        animation: boxOut-left;
        animation-duration: 1000ms;
        animation-fill-mode: forwards;
    }
    .box.box-in-right {
        animation: boxIn-right;
        animation-duration: 1000ms;
    }

    .box.box-out-right {
        animation: boxOut-right;
        animation-duration: 1000ms;
        animation-fill-mode: forwards;
    }

    .box .box-title {
        margin: -16px -16px 0.5rem -17px;
        background-color: #404040;
        height: 40px;
        border-radius: 10px 10px 0 0;
        margin-bottom: 0.5rem;
        padding: 0px 10px;
        color: #ffffffc9;
    }

        .box .box-title span{
            float: right;
        }

    .box .box-container-border {
        border: 1px solid #b3b7bc;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px 10px;
    }

    .box .icon-description {
        display: grid;
        grid-template-columns: 120px auto;
    }

        .box .icon-description .panel-level {
            margin: 5px 0px;
            text-align: center;
            font-weight: 700;
        }

        .box .icon-description img {
            background-color: white;
            border: 1px solid black;
            border-radius: 5px;
            display: inline-block;
            width: 100%;
            height: auto;
            /*max-height: 100px;
        width: auto;*/
        }
        .box .icon-description > p {
            height: 170px;
            overflow: auto;
            margin-bottom: 0;
            font-size: 17px;
        }

            .box .icon-description > p::-webkit-scrollbar {
                width: 10px;
            }

            .box .icon-description > p::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 56px whitesmoke;
            }

            .box .icon-description > p::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: #404040;
                outline: 1px solid slategrey;
            }

    .box .container-time h5{
        margin: 0.25rem 0;
    }

    .box .container-time h5 > span {
        float: right;
    }

    .box .box-requeriments {
        min-height: 155px;
    }

        .box .box-requeriments p {
            margin: 0.25rem 0;
            text-transform: capitalize;
        }

        .box .box-requeriments p span{
            float: right;
        }




.icon-description > p {
    padding: 0 15px;
    text-align: justify;
}

nav {
    max-height: 30px;
}

.navgame {
    background-color: rgba(255, 255, 255, .60);
    border: 1px solid #ddd;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 5px 5px #888;
    /*filter: blur(1px);*/
    margin-bottom: 30px;
    height: 60px;
    padding: 5px;
}

    .navgame p {
        margin-bottom: 0;
    }

.navsystem {
    position: fixed;
    left: 25%;
    bottom: 0px;
    height: 80px;
    background-color: rgba(181, 181, 181, 0.15);
    border: 1px solid #ddd;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px -3px 3px #888;
}

.sub-nav {
    opacity: 0;
    bottom: 0px;
    height: 90px;
    right: 25%;
    left: 25%;
    border-bottom: 0;
    transition: all 500ms;
}



.sub-nav.show {
    animation-name: open-submenu;
    animation-duration: 500ms;
    opacity: 1;
    bottom: 80px;
}

.sub-nav.closed {
    animation-name: close-submenu;
    animation-duration: 1000ms;
}


    .sub-nav a {
        height: 60px;
        width: 60px;
        margin: auto;
        text-align: center;
        background-color: white;
    }

.system {
    height: 60px;
    width: 60px;
    text-align: center;
    background-color: white;
}

    .system img {
        max-width: 100%;
        max-height: 100%;
    }

.computers-container, .hacks-container {
    border: 1px solid #b3b7bc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    transition: all 0.5s;
}

.buildOrders-container {
    position: relative;
    /*
    border: 1px solid #b3b7bc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    */
    width: 80%;
    margin: 10px;
    text-align: center;
    transition: all 0.5s;
    margin-bottom: 20px;
}

    .buildOrders-container:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    .buildOrders-container:before {
        content: '';
        border-width: 1px;
        border-style: solid;
        border-color: #404040 #ccc #ccc;
        border-radius: 100%;
        position: absolute;
        top: -5px;
        bottom: -5px;
        left: -5px;
        right: -5px;
        animation: spin 1.5s linear infinite;
    }

    .buildOrders-container > *{
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .spinner {
        width: 90%;
        height: 160px;
        border-radius: 50%;
        border: 5px solid black;
        background: transparent;
        border-top-color: #efef;
        border-bottom-color: #efef;
        border-left-color: black;
        animation: spin 1.5s linear infinite;
        position: relative;
    }

.animation-fadein_0 {
    animation-name: fadeIn;
    animation-duration: 600ms;
}
.animation-fadein_1 {
    animation-name: fadeIn;
    animation-duration: 900ms;
}
.animation-fadein_2 {
    animation-name: fadeIn;
    animation-duration: 1200ms;
}
.animation-fadein_3 {
    animation-name: fadeIn;
    animation-duration: 1500ms;
}
.animation-fadein_4 {
    animation-name: fadeIn;
    animation-duration: 1800ms;
}


    .computers-container.desk {
        border: 2px solid #d7d7d7;
    }

    .computers-container:hover {
        cursor: pointer;
        -webkit-box-shadow: 0 4px 6px 5px #777;
        -moz-box-shadow: 0 4px 6px 5px #777;
        box-shadow: 0 4px 6px 5px #777;
    }

    .principal-pc {
        background-image: url("../images/pc_principal.svg");
    }

.portatil-pc {
    background-image: url("../images/pc.svg");
}

.notreaded {
    color: orangered;
}

.link {
    cursor: pointer;
}

.principal-pc, .portatil-pc {
    margin: auto;
    max-width: 50%;
    height: 65px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.bs-popover-bottom {
    max-width: 330px;
}

    .bs-popover-bottom p span {
        float: right;
    }



.box-hacks img {
    max-width: 100%;
}

.box-hacks .box-scripts {
    padding-left: 10px;
    padding-right: 10px;
}

.box-hacks h5 {
    border-bottom: 1px solid gainsboro;
}

.box-hacks .box-attack, .box-hacks .box-deffense {
    border: 1px solid #b3b7bc;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .box-hacks .box-attack .row, .box-hacks .box-deffense .row {
        margin-bottom: 5px;
        margin-top: 5px;
    }

.invalid-feedback-block {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

    .invalid-feedback-block span{
        visibility: hidden;
    }

    @media (min-width: 1400px) {
        .container {
        max-width: 1320px;
    }
}


@media (max-width: 1200px) {
    body {
        font-size: 14px;
    }
}

